  /* Styling for HTML elements */
  p {
    margin-top: 30px;
    margin-right: 40px;
  }
  /* Selecting elements by class */
  .container {
    width: auto;
    margin: 0 auto;
  }

  .navbar-brand {
    color: white;
  }

  /* Selecting elements by ID */
  #summary-section {
    width: 60%;
  }  

  #summary-image {
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  
  #summary-image,
  #summary-section {
    float: left;
  }

  #visualizations-menu {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  
  #visualizations-page {
    width: 600px;
    height: 400px;
    margin: 10px;
  }
  
  #comparisons-page {
    width: 450px;
    height: 300px;
    margin: auto;
  }
  